"/^{{ incoming_email_short_prefix }}.*/"                this-is-ignored
/^postmaster@/          this-is-ignored
"/^{{ user_support_email }}@/"        this-is-ignored
/^team@/                this-is-ignored
