/^{{ incoming_email_short_prefix }}.*/                this-is-ignored
/^contact@/             this-is-ignored
/^postmaster@/          this-is-ignored
/^support-utilisateurs@/        this-is-ignored
/^team@/                this-is-ignored
